boto3
dj-database-url
Django
django-allauth
django-crispy-forms
django-filter
django-registration
django-rest-auth
djangorestframework
django-rest-registration
django-storages
django-webpack-loader<1.0.0
gunicorn
Pillow
pip-tools
psycopg2
python-dotenv
tox
urllib3
whitenoise