{% extends 'login_recover_layout.html' %}
{% load crispy_forms_tags %}

{% block title %}Forgot Your Password?{% endblock %}

{% block auth %}
    <div class="container">
        <div class="text-center py-5">
            <p class="registration-title">Reset your Password</p>
            <p class="registration-subtitle">Please, provide us the email address you used during registration process.
                We
                will send you a message in order to reset
                your password.</p>
        </div>
        <div class="container col-xl-6 col-md-8 col-sm-12 my-auto">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group mb-0">
                    {{ form.email|as_crispy_field }}
                </div>
                <div class="col text-center">
                    <button type="submit" class="btn btn-md btn-success mt-2 ">Send email</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}