{% extends "auth_layout.html" %}
{% load crispy_forms_tags %}

{% block auth %}
    {% if validlink %}

        <div class="text-center mb-0 py-1">
            <p class="registration-title">Change your Password</p>
            <p class="registration-subtitle">Please, insert your new password.</p>
        </div>
        <form method="post">
            {% csrf_token %}

            <div class="form-group  mb-0">
                {{ form|crispy}}
            </div>
            <div class="col text-center">
                <button type="submit" class="btn btn-md btn-success mt-2 ">Change Password</button>
            </div>
        </form>

    {% else %}

        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password
            reset.</p>

    {% endif %}
{% endblock %}
