{% extends 'login_recover_layout.html' %}
{% load static %}

{% block title %}Email Sent{% endblock %}

{% block auth %}
    <div class="container">
        <div class="text-center py-1">
            <div class="mb-2">
                <img width="100px" src="{% static 'assets/evs_logo.png' %}" alt="logo">
            </div>
            <p class="registration-title">Check your inbox.</p>
            <p class="registration-subtitle">We've emailed you instructions for setting your password. You should
                receive
                the email shortly. Please, follow the link we provided you.</p>
        </div>
    </div>
{% endblock %}