{% extends 'auth_layout.html' %}
{% load crispy_forms_tags %}

{% block title %}Forgot Your Password?{% endblock %}

{% block auth %}
    <div class="text-center py-1">
        <p class="registration-title">Reset your Password</p>
        <p class="registration-subtitle">Please, provide us the email address you used during registration process. We will send you a message in order to reset
            your password.</p>
    </div>

    <form method="POST">
        {% csrf_token %}
        <div class="form-group mb-0">
            {{ form.email|as_crispy_field }}
        </div>
        <div class="col text-center">
            <button type="submit" class="btn btn-md btn-success mt-2 ">Send email</button>
        </div>
    </form>
{% endblock %}