{% extends "base.html" %}

{% block style %}
    <style media="screen">
        html, body {
            height: 100%;
            font-family: "Roboto", serif;
        }

        body {
            height: 100%;
        }

        p.light {
            font-weight: lighter;
        }

        .login-form-container {
            width: 300px;
            margin: auto;
        }

        .registration-title {
            font-style: normal;
            font-weight: 200;
            font-size: 32px;
            line-height: 56px;
        }

        .registration-subtitle {
            font-size: 24px;
            line-height: 28px;
            text-align: center;
        }

        .disclaimer {
            width: 282px;
            height: 225px;
            left: 46px;
            top: 252px;

            font-style: normal;
            font-weight: 300;
            font-size: 64px;
            line-height: 75px;
            color: #FFFFFF;
        }

    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid h-100">
        {% block auth %}
        {% endblock %}
    </div>
{% endblock %}
