{% extends "base.html" %}

{% block style %}
    <style media="screen">
    html, body {
        height: 100%;
        font-family: "Roboto", serif;
    }

    .auth-box {
        padding-top: 25px;
        padding-bottom: 25px;
        width: 600px;
        margin: auto;
    }

    .login-form-container {
        width: 300px;
        margin: auto;
    }

    </style>
{% endblock %}

{% block content %}
    <div class="outer-area">
        <div class="auth-box">
            {% block auth %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
