{% extends "auth_layout.html" %}
{% load static %}

{% block content %}
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
        <a href="/" class="navbar-brand">
            <img width="50px" src="{% static 'assets/evs_logo.png' %}" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto px-5">
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/events">Events</a>
                </li>
                {% if not user.is_authenticated %}
                    <li class="nav-item ">
                        <a class="nav-link" href="{% url 'login' %}">Sign In</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="{% url 'django_registration_register_user' %}">Sign Up</a>
                    </li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Hi {{ user.username }}!
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/profile">Profile</a>
                            {% if request.user.is_organizer %}
                                <a class="dropdown-item" href="/event-create">Create Ev</a>
                            {% endif %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item logout-link" href="{% url 'logout' %}">Logout</a>
                        </div>
                    </li>
                    {% if user.is_authenticated and not user.is_organizer %}
                        <li class="nav-item">
                            <div>
                                <a class="nav-link" href="/notifications">{{ request.user.unread_notifications_number }} <i
                                        class="material-icons-outlined">
                                    notifications </i></a>
                            </div>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container-fluid d-flex flex-column" id="mainContent" style="height: 100%">
        <div class="row justify-content-center flex-fill">
            {% if 'register' in request.path %}
                <div class="col-sm-12 col-md-4" style="background-color: #4BABFA">
                    <div class="disclaimer py-2">Find your own way with EVs.</div>
                </div>
            {% endif %}
            {% block main_content %}
            {% endblock %}
        </div>
        <div class="py-3 bg-light row">
            <div class="col-xl-1 col-md-12 d-flex">
                <a href="/" class="navbar-brand">
                    <img width="50px" src="{% static 'assets/evs_logo.png' %}" alt="logo">
                </a>
            </div>
            <div class="col-xl-8 col-md-6 d-flex">
                <a class="footer-item mt-3 mr-3" href="/about">About EVs</a>
                <a class="footer-item mt-3 mr-3" href="/contacts">Contact Us</a>
                <a class="footer-item mt-3 mr-3" href="/faq">FAQ</a>
            </div>
            <div class="col-xl-3 col-md-6 d-md-flex d-xl-flex justify-content-md-end justify-content-xl-end">
                <div>
                    <span>Follow Us</span>
                    <a href="#" class="fa fa-facebook mt- mx-2"></a>
                    <a href="#" class="fa fa-twitter mt-2 mx-2"></a>
                    <a href="#" class="fa fa-instagram mt-2 mx-2"></a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}