{% extends "auth_layout.html" %}

{% block content %}
    <div class="container-fluid h-100">
        <div class="row justify-content-center h-100">
            <div class="col-sm-6 col-md-4 hidden-md-down" style="background-color: #4BABFA">
                <div class="disclaimer py-2">Find your own way with EVs.</div>
            </div>
            <div class="col-sm-6 col-md-8 col-lg-8 col-xl-8">
                {% block registration_content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}