{% extends "auth_layout.html" %}
{% load crispy_forms_tags %}

{% block auth %}
    <div class="text-center py-1">
        <p class="registration-title">Create your Account</p>
        <p class="registration-subtitle">It will help you to share your events and reach people easily.</p>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="form-group mb-0">
            {{ form.organization_name|as_crispy_field }}
        </div>
        <div class="form-group mb-0">
            {{ form.username|as_crispy_field }}
        </div>
        <div class="form-group  mb-0">
            {{ form.email|as_crispy_field }}
        </div>
        <div class="form-group  mb-0">
            {{ form.password1|as_crispy_field }}
        </div>
        <div class="form-group  mb-0">
            {{ form.password2|as_crispy_field }}
        </div>
        <div class="col text-center">
            <button type="submit" class="btn btn-sm btn-success mt-2 ">Sign Up</button>
        </div>
    </form>
    <p class="mt-2">Registered yet? Please, <a href="{% url 'login' %}">login</a><br>
        <span>Are you an user?<a href="{% url 'django_registration_register_user' %}"> Register as user.</a></span>
    </p>
{% endblock %}
